<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1H4319N6W8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-1H4319N6W8');
  </script>

  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <style>
    /* 定义一个类，用于特定链接 */
    .hover-color-change {
      color: red;
      text-decoration: none; /* 可选：移除下划线 */
    }

    .hover-color-change:hover {
      color: green;
    }
  </style>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        .widget-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .widget {
            width: 150px;
            height: 150px;
            overflow: hidden;
        }
    </style>

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
                <h1>
                  Haonan Cheng / 程 昊楠
                </h1>
                <p>
                  请注意：为保持网页浏览之美观，本页面仅部分信息使用中-英文同时显示，请您主要阅读英文内容以获取最完整信息。
                </p>
                <p>
                  Please note: To maintain the aesthetic of the webpage, only partial information is displayed in both Chinese and English. Please refer primarily to the English content for the most complete information.
                </p>
                <div style="text-align: center;">
                  <a href="https://richard-cheng.notion.site/Golden-Hour-10b75d5fafe680c8b6dec25301617ae1" target="_blank" title="黄金的时刻">
                    <img src="images/new_image.png" alt="Golden Hour" style="width:25px;height:25px; position: relative; top: 5px;">
                  </a> &nbsp;/&nbsp;
                  <a target="_blank" href="https://mailhide.io/e/t2RXbdNL"> Email</a> &nbsp;/&nbsp;
                  <a href="https://github.com/Aestival-Nostalgia">GitHub</a> &nbsp;/&nbsp;
                  <a href="https://orcid.org/0000-0002-2135-0056">ORCID</a> &nbsp;
                </div>                
              </td>              
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/circle_bw_crop.png">
            </td>
          </tr>
        </table>

        <a href="https://richard-cheng.notion.site/2025-12075d5fafe68000b209f8453d261c4d" class="hover-color-change">
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <h2>*2024年下半年秋季校园招聘 / 申请季的重要信息更新*</h2>
                <p>
                  2024年10月：本人正在进行MIHOYO2025秋季入职校园招聘的投递，如果您是MIHOYO的人力资源管理人员，本人诚恳的邀请您访问本链接。（请直接点击本段文字。）
                </p>
              </td>
            </tr>
          </table>
        </a>
        
        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>My educational background / 教育背景</h2>
              <p>
                I'm interested in computer vision, machine learning, optimization, graphics and robotics.
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        
        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                  <h2>Characteristics / 特质</h2>
                  <p>
                      I'm interested in creative planning, design work, and organizing content systematically.
                      <br>我对创意策划、设计工作和系统地组织内容感兴趣。
                  </p>
      
                  <div style="display: flex; align-items: center; margin-top: 10px;">
                      <div style="flex: 0 0 40px; display: flex; justify-content: center;">
                          <i class="fas fa-lightbulb" style="color:rgb(0, 104, 183); font-size: 1.5em;"></i>
                      </div>
                      <div style="flex: 1;">
                          <span style="display: block; margin-left: 10px;">
                              I enjoy creative work, planning new projects, and savoring every detail of the design process.
                              <br>喜欢创意、策划和设计工作：我对创意工作充满热情，喜欢策划新的项目，并享受设计过程中的每个细节。
                          </span>
                      </div>
                  </div>
      
                  <div style="display: flex; align-items: center; margin-top: 10px;">
                      <div style="flex: 0 0 40px; display: flex; justify-content: center;">
                          <i class="fas fa-tasks" style="color:rgb(0, 104, 183); font-size: 1.5em;"></i>
                      </div>
                      <div style="flex: 1;">
                          <span style="display: block; margin-left: 10px;">
                              I like to organize work content systematically: I tend to systematize work content, ensuring that each step is orderly and using efficiency tools to optimize workflow.
                              <br>喜欢条理化工作内容：我倾向于把工作内容系统化，确保每个步骤都有条不繁地进行，使用效率工具来优化工作流程。
                          </span>
                      </div>
                  </div>
      
                  <div style="display: flex; align-items: center; margin-top: 10px;">
                      <div style="flex: 0 0 40px; display: flex; justify-content: center;">
                          <i class="fas fa-check-circle" style="color:rgb(0, 104, 183); font-size: 1.5em;"></i>
                      </div>
                      <div style="flex: 1;">
                          <span style="display: block; margin-left: 10px;">
                              I like high completeness of work: I pursue high-quality work results, value details, and am committed to ensuring that each project is completed to the highest standards.
                              <br>喜欢高完成度的工作：我追求高质量的工作成果，重视细节，致力于确保每个项目的完成度达到最高标准。
                          </span>
                      </div>
                  </div>
      
                  <div style="display: flex; align-items: center; margin-top: 10px;">
                      <div style="flex: 0 0 40px; display: flex; justify-content: center;">
                          <i class="fas fa-mountain" style="color:rgb(0, 104, 183); font-size: 1.5em;"></i>
                      </div>
                      <div style="flex: 1;">
                          <span style="display: block; margin-left: 10px;">
                              I have good stress resistance: I can maintain calm and focus under pressure, ensuring that tasks are smoothly completed in a high-intensity environment.
                              <br>拥有较好的抗压能力：我能够在压力下保持冷静和专注，确保任务在高强度的环境中顺利完成。
                          </span>
                      </div>
                  </div>
      
                  <div style="display: flex; align-items: center; margin-top: 10px;">
                      <div style="flex: 0 0 40px; display: flex; justify-content: center;">
                          <i class="fas fa-users" style="color:rgb(0, 104, 183); font-size: 1.5em;"></i>
                      </div>
                      <div style="flex: 1;">
                          <span style="display: block; margin-left: 10px;">
                              I can communicate well with other team members: I am good at teamwork, can effectively communicate with colleagues, and promote the team to achieve goals together.
                              <br>可以很好的与其他团队成员沟通协作：我擅长团队协作，能够有效地与同事沟通，推动团队共同实现目标。
                          </span>
                      </div>
                  </div>
      
              </td>
          </tr>
        </table>  
      
        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                  <h2>Characteristics / 特质</h2>
                  <p>
                      I'm interested in creative planning, design work, and organizing content systematically.
                  </p>
      
                  <div style="display: flex; align-items: center; margin-top: 10px;">
                      <div style="flex: 0 0 40px; display: flex; justify-content: center;">
                          <i class="fas fa-lightbulb" style="color:rgb(0, 104, 183); font-size: 1.5em;"></i>
                      </div>
                      <div style="flex: 1;">
                          <span style="display: block; margin-left: 10px;">喜欢创意、策划和设计工作：我对创意工作充满热情，喜欢策划新的项目，并享受设计过程中的每个细节。</span>
                      </div>
                  </div>
      
                  <div style="display: flex; align-items: center; margin-top: 10px;">
                      <div style="flex: 0 0 40px; display: flex; justify-content: center;">
                          <i class="fas fa-tasks" style="color:rgb(0, 104, 183); font-size: 1.5em;"></i>
                      </div>
                      <div style="flex: 1;">
                          <span style="display: block; margin-left: 10px;">喜欢条理化工作内容：我倾向于把工作内容系统化，确保每个步骤都有条不繁地进行，使用效率工具来优化工作流程。</span>
                      </div>
                  </div>
      
                  <div style="display: flex; align-items: center; margin-top: 10px;">
                      <div style="flex: 0 0 40px; display: flex; justify-content: center;">
                          <i class="fas fa-check-circle" style="color:rgb(0, 104, 183); font-size: 1.5em;"></i>
                      </div>
                      <div style="flex: 1;">
                          <span style="display: block; margin-left: 10px;">喜欢高完成度的工作：我追求高质量的工作成果，重视细节，致力于确保每个项目的完成度达到最高标准。</span>
                      </div>
                  </div>
      
                  <div style="display: flex; align-items: center; margin-top: 10px;">
                      <div style="flex: 0 0 40px; display: flex; justify-content: center;">
                          <i class="fas fa-mountain" style="color:rgb(0, 104, 183); font-size: 1.5em;"></i>
                      </div>
                      <div style="flex: 1;">
                          <span style="display: block; margin-left: 10px;">拥有较好的抗压能力：我能够在压力下保持冷静和专注，确保任务在高强度的环境中顺利完成。</span>
                      </div>
                  </div>
      
                  <div style="display: flex; align-items: center; margin-top: 10px;">
                      <div style="flex: 0 0 40px; display: flex; justify-content: center;">
                          <i class="fas fa-users" style="color:rgb(0, 104, 183); font-size: 1.5em;"></i>
                      </div>
                      <div style="flex: 1;">
                          <span style="display: block; margin-left: 10px;">可以很好的与其他团队成员沟通协作：我擅长团队协作，能够有效地与同事沟通，推动团队共同实现目标。</span>
                      </div>
                  </div>
      
              </td>
          </tr>
      </table>      
      
      <br>
      <br>
      <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                  <h2>Skill Set / 技能组合</h2>
                  <p>
                      I'm interested in computer vision, machine learning, optimization, graphics, and robotics.
                  </p>
        
                  <div style="display: flex; align-items: center; margin-top: 10px;">
                      <div style="flex: 0 0 40px; display: flex; justify-content: center;">
                          <i class="fas fa-cogs" style="color:rgb(0, 104, 183); font-size: 1.5em;"></i>
                      </div>
                      <div style="flex: 1;">
                          <span style="display: block; margin-left: 10px;">编程和基于编程的数据分析与统计：我拥有编程的知识，如今，在像GPT这样的大模型的帮助下，我可以自助的实现非常多编程项目，云平台GEE</span>
                      </div>
                  </div>
        
                  <div style="display: flex; align-items: center; margin-top: 10px;">
                      <div style="flex: 0 0 40px; display: flex; justify-content: center;">
                          <i class="fas fa-map" style="color:rgb(0, 104, 183); font-size: 1.5em;"></i>
                      </div>
                      <div style="flex: 1;">
                          <span style="display: block; margin-left: 10px;">地理制图和地理分析：我使用多种工具完成符合规范的地图制作，我可以熟练使用ArcGIS</span>
                      </div>
                  </div>
        
                  <div style="display: flex; align-items: center; margin-top: 10px;">
                      <div style="flex: 0 0 40px; display: flex; justify-content: center;">
                          <i class="fas fa-tasks" style="color:rgb(0, 104, 183); font-size: 1.5em;"></i>
                      </div>
                      <div style="flex: 1;">
                          <span style="display: block; margin-left: 10px;">工作流规划：我使用多种效率软件（如Notion、Git等）规划我的工作流，尽管这听上去并不像一种技能，但这确实是我的工作习惯和常用方法。</span>
                      </div>
                  </div>                
        
                  <div style="display: flex; align-items: center; margin-top: 10px;">
                      <div style="flex: 0 0 40px; display: flex; justify-content: center;">
                          <i class="fas fa-file-alt" style="color:rgb(0, 104, 183); font-size: 1.5em;"></i>
                      </div>
                      <div style="flex: 1;">
                          <span style="display: block; margin-left: 10px;">文稿、演示文稿排版、其他办公组件：我使用LATEX、WORD等进行写作，我使用PPT等进行演示文稿的制作，并且我对PPT的</span>
                      </div>
                  </div>
                  
              </td>
          </tr>
        </table>
                  
        <br>
        <br>
        <br>  

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                  <h2>Language Proficiency / 语言水平</h2>
                  <p>
                      I am proficient in both Mandarin Chinese and English, with strong capabilities in both languages.
                  </p>
        
                  <div style="display: flex; align-items: flex-start; margin-top: 10px;">
                    <div style="flex: 0 0 40px; display: flex; justify-content: center;">
                        <i class="fas fa-language" style="color:rgb(0, 104, 183); font-size: 1.5em;"></i>
                    </div>
                    <div style="flex: 1;">
                        <span style="display: block; margin-left: 10px;">中文（普通话）</span>
                        <ul style="padding-left: 10px; list-style-position: outside; margin-top: 5px;">
                            <li>母语</li>
                        </ul>
                    </div>
                </div>
        
                  <div style="display: flex; align-items: flex-start; margin-top: 10px;">
                      <div style="flex: 0 0 40px; display: flex; justify-content: center;">
                          <i class="fas fa-language" style="color:rgb(0, 104, 183); font-size: 1.5em;"></i>
                      </div>
                      <div style="flex: 1;">
                          <span style="display: block; margin-left: 10px;">英文：系统学习</span>
                          <ul style="padding-left: 10px; list-style-position: outside; margin-top: 5px;">
                              <li>College English Test 4/6</li>
                          </ul>
                      </div>
                  </div>
        
              </td>
          </tr>
        </table>
              
        <br>
        <br>
        <br>  

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>My Hobbies / 我的興趣感好</h2>
              <p>我爱原神原神爱我。
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>原神をプレイしていないことが</h2>
              <p>這破學我是真的不想上了。 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'CMU' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="widget-container">
          <div class="widget">
              <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=ODn7N8fqBbx5P15xjI8evjsuPBx571K6d7Dq9Uhp07Y"></script>
          </div>
        </div>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;margin-bottom:2px;">
                <i>「寒くなってきたな。」「いいえ、もう春です。」</i>――<i>『氷菓』</i>
              </p>
              <p style="text-align:center;font-size:small;margin-top:2px;">
                Thanks to <a style="font-size:small;" href="https://jonbarron.info">Jon Barron</a> for the website template.
              </p>
            </td>
          </tr>
        </table>
        
      </td>
    </tr>
  </table>
</body>

</html>